#view {
  visibility: hidden;
}

#name:hover > #view {
  visibility: visible;
}

.ant-modal-header {
  border-bottom: none !important;
}

.ant-modal-footer {
  border-top: none !important;
}

#transcript {
  background: #000000d9;
  padding: 30px;
  color: white;
  height: 700px;
  overflow: scroll;
}

#transcriptfull {
  background: #000000d9;
  padding: 30px;
  color: white;
}